*{
    box-sizing: border-box;
}
body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(32, 33, 35);
    
}
.card{
    margin-top: 50px;
    
}
.card-title{
    margin-top: 30px;
    font-weight: 600;
    font-size: 1.3rem;
}
.card-text{
    font-size: 1.5rem;
    margin-left: 200px;
}

#cart{
    text-decoration: none;
    margin-left: 70vw;
}
img{
    max-height: 400px;
    object-fit:fill
}